.pagina{
    color: white;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-image: linear-gradient(rgba(29 ,29 ,29, 0.8), rgba(29 ,29 ,29, 0.8)) ,url(./../images/poneis-malditos-background.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction:row; 
     
    
}

.container {

	width: 350px;
	height: 600px;
	border-radius: 20px;
	
	backdrop-filter: blur(8px);
	
}

h1{
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 1px;
}

h2{
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 2px;
}

.input input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    margin-top: 5px;

    background-color: #ecd5e3;
    color: #b6b6b6;
}

input::placeholder{
    color: #b6b6b6;
}

.fazerCadastro a{
    color: pink;
}



#botao{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #cbaacb;
    color: white;
    
}

#rodape {
    
    padding: 5px;
    position:absolute;
    bottom: 0;
    

    display: flex;    
    align-items: center; 
}

#sociais {
    display: flex; 
    gap: 1.25rem; 
    
}

#btn {
    
    color: #fff;
}


